

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  display:flex;
  flex-direction:column;
  margin: 0;
  padding: 20px;
  user-select: none;
  overflow: scroll;
  background: gray(195);
}

.next-up-app-outlet {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -var(--gutter) 0 var(--gutter) -var(--gutter);
  > .swim-lane {
    width: 50%;
  }
}

.level-section {
  width: 100%;
  cursor: default;
  font-size: 1rem;
  padding: var(--gutter) 0 0 var(--gutter);
  position: relative;
  @media (min-width: var(--smbreakpoint)) {
    font-size: 1.1rem;
  }

  /* Level specific size and color rules */
  &[data-level='1'] {
    .wiki-icon {
      left: 10px !important;
      font-size: 16px !important;
    }
    .sub-sections {
      background-color: gray(0, 0.19) !important;
    }
  }
  &[data-level='2'] {
    font-size: 0.9rem;
    width: 100%;
    .wiki-icon {
      top: auto;
      bottom: 6px;
      left: 10px !important;
      font-size: 16px !important;
    }
    .sub-sections {
      background-color: gray(0, 0.17) !important;
    }
    .time-box .title {
      /*Safari has a minimum font-size..*/
      font-size: 12px;
      transform: scale(0.95);
    }
  }
  &[data-level='3'] {
    font-size: 0.9rem;
    width: 100%;
    .sub-sections {
      background-color: gray(0, 0.17) !important;
    }
    .time-box .title {
      /*Safari has a minimum font-size..*/
      font-size: 12px;
      transform: scale(0.9);
    }
  }

  >.box {
    position: relative;
    background: var(--Color-graybg);
    box-shadow: 0 1px 1px gray(0, 0.05);
    height: 100%;
    padding: 1.5em;
    padding-bottom: 0;
    border-radius: 4px;
    > .section-title {
      display: inline-block;
      font-size: 1.9em;
      text-align: left;
      padding-right: 4em;
      padding-left: 22px;
      min-height: 2em;
      margin-bottom: 0.75em;
      > i {
        margin-top: 2px;
        margin-right: 8px;
        position: absolute;
        left: 12px;
      }
    }
    .wiki-icon, .wiki-icon-deep {
      color: gray(220);
      cursor: pointer;
      transition: color 250ms;
      text-decoration: none;
      &:hover {
        color: inherit !important;
      }
    }
    .wiki-icon {
      position: absolute;
      left: 11px;
      top: 40px;
      align-self: flex-end;
      font-size: 0.75em;
    }
    .wiki-icon-deep {
      font-size: 11px;
      margin-left: 5px;
    }
    > .section-description {
      font-size: 1.6em;
      padding-right: 5em;
      min-height: 3.6em;
      padding-bottom: 1.5em;
    }
    >.time-box {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1.5em 1.5em 0 0;
      text-align: right;
      display: flex;
      &.is-reversed {
        flex-direction: row-reverse;
      }
      .sub-hour {
        display: flex;
        position: relative;
        .sub-hour-title {
          position: absolute;
          bottom: 0;
          left: 8px;
          color: gray(200);
        }
        border-radius: 2px;
        border-left: 1px solid silver;
        z-index: 1;
        padding-left: 8px;
        &.first-child {
          z-index: 0;
          min-width: 60px;
          transition: background 400ms;
          cursor: pointer;
          &:hover {
            background: gray(250);
          }
        }
      }
      .sub-time-box {
        margin-top: 1px;
        >.used-hours, >.total-hours {
          line-height: 1;
          > .title {
            font-size: 1em;
            color: gray(150);
          }
          > .value {
            font-size: 1.2em;
          }
        }
      }
      .remaining-hours {
        margin-right: 10px;
        > .title {
          font-size: 1em;
          font-weight: normal;
          color: gray(150);
        }
        >.value {
          font-size: 2.4em;
          line-height: 1;
        }
      }
    }
    >.sub-sections {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -var(--gutter) 0 -var(--gutter);
      padding-right: var(--gutter);
      padding-bottom: 15px;
      border-radius: 0 0 4px 4px;
      background-color: gray(0, 0.1);
      overflow: hidden;

      >.swim-lane {
        width: 50%;
      }
      &:not(.has-subsections) {
        justify-content: center;
      }

      >.uil-ring-css {
        align-self: center;
        margin: 20px 0 0 0;
      }

      >.section-detail {
        padding: 1.5em 0 0 1.5em;

        >.body {
          margin-bottom: 10px;
          font-size: 11px;
          line-height: 1.2;
          color: gray(0);
          columns: 2 200px;
          column-gap: 2em;
          /* min-height prevents that e.g. a single line
          is not distributed in multiple columns */
          min-height: 50px;
        }

        >.project-id {
          position: relative;
          left: -1px;
          font-weight: bold;
          font-size: 10px;
          text-align: right;
          color: white;
          text-decoration: none;
          background-color: gray(230);
          transition: background-color 200ms;
          padding: 2px 5px 1px 5px;
          border-radius: 2px;
        }
      }
      >.no-subsections-notice {
        padding: 1.5em 0 0 0;
        font-size: 12px;
        font-style: italic;
        color: gray(0, 0.6);
      }
    }
  }
}

/* CSS Loader */
.uil-ring-css {
  background: none;
  position: relative;
  width: 50px;
  height: 50px;
  transform: scale(0.7);
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 5px;
  border-radius: 20px;
  box-shadow: 0 1.5px 0 0 gray(0, 0.4);
  animation: uil-ring-anim 1s linear infinite;
}

@keyframes uil-ring-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
